@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Poppins:wght@300&display=swap');


body{
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
#astronaut1{
    width: 500px;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: floating 5s infinite;
}
#astronaut2{
    width: 500px;
    position: absolute;
    top: 30%;
    left: 30%;
    animation: floating 5s infinite;
}

@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
}

form{
    position: absolute;
    top: 15%;
    left: 65%;
    width: 300px;
    padding: 0 75px;
    background-color: white;
    border-radius: 8px;
}

 .block-display{
    display: block;
 }

label{
    font-size: 16px;
    margin: 20px 0 4px 0;
}
h1{
    font-size: 26px;
    width: 280px;
    text-align: center;
    margin: 20px auto ;
}
#Country{
    width: 310px;
}

 input[type="text"], input[type="email"],select{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    padding: 0 5px; }

input[type="submit"]{
background-color: #e37737;
border-radius: 2opx;
margin: 40px auto;
color: white;
padding: 15px 20px;
border: none;
}